
body
{
    background-color: White;
    color: Black;
    font-family: Georgia;
    font-size: 10pt;
    line-height: normal;
}

blockquote
{
    font-style:italic;
}

#navigation {
    float: left;
    width: 10em;
}


#right {
    float: right;
    width: 10em;
}

#content {
    margin: 0 10em;
}

#footer {
    clear: both;
}